
.divimg{padding: 0px;
        margin: 0px;
     }
.divimg img{width: 100%;
          margin: 0;
}
.container-fluid img{width:100%;
          height: 100%;
  vertical-align: middle;}
.container img{width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;}
.infomation {text-align: left;
            margin: 5px;
            }
/* button submit */
.button{border-radius: 12px;
    border: double;}

/* boder red cho required */
.required{ border: rgb(65, 4, 4) solid 1px;
        }
/* canh center(cho dang text) class cho block phia ngoài */
.center{ text-align: center;
        padding: auto;
    }
/* background color */
.bg_color{background-color: rgb(215, 234, 245);}
.bg_color1{background-image:linear-gradient( black,red, orange, yellow);
            margin-top: 0 px;}
.bg_color2{background-image: linear-gradient( yellow 25%,red 60% ,black 80%,cyan);
            }
/* text color */
.color{ color: rgb(250, 145, 25);}
.color1{ color: rgba(41, 17, 253, 0.8);}
.color2{ color: rgb(95, 241, 108);}
.color3{ color: rgb(230, 59, 193,0.8);}
.color4{ color: rgb(255, 255, 255)}
.color5{ color: rgb(37, 1, 1)}
/* đóng khung lại 1 div */
.boder{
    border: double;
  }


/* tao chu bu đổ bóng  */
.shadow{
        text-shadow: gray 2px 2px 2px;
        text-transform: capitalize;}
.shadow1{
    text-shadow: rgba(241, 32, 32, 0.8) 1px -2px 1px;
      text-transform: capitalize;}
/* title */
.title_text{  text-align: center;
    font-size: 28px;
    line-height:36px;
    margin: 20px 0 15px;
    font-weight:bold;
    font-family: inherit;
    }
/* chỉnh margin 1-5 1=20px */
.m-0{margin: 0;}
.m-1{margin: 2rem 0rem 0rem 0rem;}
.m-2{margin: 4rem 0rem 0rem 0rem;}
.m-3{margin: 6rem 0rem 0rem 0rem;}
.m-4{margin: 8rem 0rem 1rem 0rem;}
.m-5{margin: 10rem 0rem 1rem 0rem;}

/* HOVER IMG */
.img_invi{display: none;
   
    }
/* text_img */
@keyframes timer_text {
  from {top:0%; color:rgb(0, 255, 42)}
  to {top: 70%;color: rgb(245, 245, 241);}
}
.text_img_centered {
    position: absolute;
    top: 70%;
    left: 50%;
    animation-name: timer_text;
    animation-duration: 3s;
    transform: translate(-50%, -50%);}
.img_container {
        position: relative;
        text-align: center;
        color:rgb(245, 245, 241);
        font-size:300%;
      }
/* overlayimg */
.overlay_text {
    color: rgb(101, 78, 230);
    font-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.overlay_image {
    display: block;
    height: auto;
    width: 100%;
  }
  
  /* overlaybot */
  .overlaybot_container {
    position: relative;
  
  }
  .overlaybot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(235, 168, 168);
    overflow: hidden;
    height: 0%;
    transition: .5s ease;
  }
  
  .overlaybot_container:hover .overlaybot {
    height: 30%;
  }
  

  /* overlay zoom */
  .overlayzoom_container {
    position: relative;
    
  }
  .overlayzoom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s ease;
    transition: 1s ease;
    
  }
  
  .overlayzoom_container:hover .overlayzoom {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  
  }
  
  /* modal css */
  /* background */
  .modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  /* X button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
/* animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
/* name */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
   
    font-size: 200%;
    
  }
  /* clearfix */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  /* height for div */
  .mainheight {
    height: 90vh;
}

.height-12 {
    height: 100%;
}

.height-11 {
    height: 91.66666667%;
}

.height-10 {
    height: 83.33333333%;
}
.height-9 {
  height: 75%;
}

.height-8 {
    height: 66.66666667%;
}

.height-7 {
    height: 58.33333333%;
}

.height-6 {
    height: 50%;
}

.height-5 {
    height: 41.66666667%;
}

.height-4 {
    height: 33.33333333%;
}

.height-3 {
    height: 25%;
}

.height-2 {
    height: 16.66666667%;
}

.height-1 {
    height: 8.33333333%;
}

/* vertical-align */
.vermid {vertical-align:middle}
  /* text in image */
  .container-imgtext {
    position: relative;
    margin: 0 auto;
}

.container-imgtext img {
    vertical-align: middle;
}

.container-imgtext .content-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
/* menu */
/* MENU dùng id menu dể tranh cac list khac bi nham*/


#MENU ul {
  list-style-type: none; 
  background-color: black;
  text-align: center;
  font-weight: bold;
  box-shadow:rgb(5, 5, 5) 3px 3px 3px;
      }
      /* list */
#MENU>ul>li{text-decoration: none;
  }

/* canh chinh chu cho đều */
#MENU a{line-height: 50px;
  text-decoration: none;
  color: rgb(255, 255, 255,0.9)}
  /* dau > dể đi  tới element gần nhất ko tính cac element cùng tên khác use for color text in element */
#MENU li:hover>a{color:rgb(155, 226, 248);}
/* sub-menu invi */
.sub-menu{display: none;
  position: absolute;
  width: 19vw;
  word-wrap: normal;
  z-index: 100;
}
/* sub menu  */

.sub-menu li{text-align: left;
            top: -1px; 
}
/* fix bootstrap */
.navbar-collapse{padding:0px ;
  border: none;
  box-shadow: none;
            margin: 0px;}

 .col-xs-12{padding: 0;
                      }

/* min screen */
@media (max-width: 767px) {
  #MENU ul li{text-decoration: none;
                color: #000;
                display:block;
                text-align: left;
                
  }
  .logomax img {display: none;}
  #MENU .logomin{text-align: center;
                background-color: black;
              }

  .navbar-header{background-color: rgb(0, 0, 0);
                margin: -1px;}
}
/* maxscreen */
@media (min-width: 768px) {
  #MENU li:hover .sub-menu{display:block;
     border-top:none;
      border-bottom:2px solid #ddd;
      border-left: 2px solid #ddd;
      border-right: 2px solid #ddd;
      border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
} 

    #MENU #ulmenu>li{text-decoration: none;
      width: 20%;
      display:inline-block;
      position: relative;
    vertical-align: bottom;
    margin: 0 -2px; }
    .logomax img {
      width: 60%;}
    #MENU .logomin{width: 0;}
    .logomin img {display: none;
                 }           
}
 /* footer */
 footer{background-color: black;
        text-align: center;
      padding: 20px 0px 10px 0px;
      color: white;
    font-weight: bold;}
    .footer-title{ margin: 5px 0px;}
    .footer-block:hover .footer-title{color: #00bbd3;}
   footer a:link {
      
      color:white;
    }
 /* icon */
 footer img{
            height: 100%;
              width: 100%;}
 .social-icon{margin: 5px;
              width: 30px;
              height: 30px;
              display: inline-block;
            }

   @keyframes iconhover {
   0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
              }
    50% {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
              }
     100%   {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                      }
          }
  .social-icon:hover{
    animation-duration: 4s ;
    animation-name: iconhover;
  
                }          
  /* copyright */
  .copyright{ margin: auto;
              color: #00bbd3;
  }
  .copyright a{
    color: #00bbd3;
    /* text-decoration: none; */
  }
/* video  */
  .video { background-color: black;
    box-shadow: 3px 3px 3px #00bbd3;} 


    /* wave */
    .blue-overlay{z-index: 50;
              position: relative;
    margin-bottom: -5px;
    margin-top: -100px;
                  }
        /* more and more */
    .more-img{height: 170px;margin: 10px 0px;}

    .img-hover:hover{top:-1px;
                
      box-shadow: #00bbd3 4px 5px 4px}
      /* text in homepage */
      .text-home{background-color:rgb(193, 239, 247);
        color: rgb(29, 28, 28);
        padding: 2rem ;
                text-align: center;
                
              }
        .text-whatup{background-color:rgba(255, 255, 255, 0.9);
        color: rgb(29, 28, 28);
        padding: 3rem 0rem;
                text-align: center;
              
              }
      /* img zoom hover */
      @keyframes hover {
        0% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
            transform: scale(1.03);
        }
        100% {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
      }
    }
    .img-hover-zoom:hover{ 
      animation-duration: 4s;
      animation-name: hover;}

      @keyframes hover1 {
        0% {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.07);
            -ms-transform: scale(1.07);
            transform: scale(1.07);
        }
        100% {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
      }
    }
      .img-hover-zoom1:hover{ 
        animation-duration: 3s;
        animation-name: hover1;
        }
      
        @keyframes hovertext{
          0% {left: -80%;}
          30%{left:50%;}
          50% {left: -40%;}
          75% {left: 30%;}
          90% {left: -10%;}
          100%{left: 0%;}
        }
        .img-hover-text{overflow: hidden;}
      .img-hover-text:hover h2{animation-duration: 20s;
                     animation-name: hovertext;
                    position: relative;
                    animation-iteration-count: infinite;
                  }
        /* haloween shake */
     @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.img-hover-zoom2:hover{ 
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}
  

/* leisure and dinning */

